html{
    position: relative;
	height: 100% !important;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

canvas {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

.bottom {
    text-align: center;
    bottom: 5px;
}

/*.body {*/
    /*padding-bottom: 70px;*/
/*}*/


