html {
    position: relative;
    min-height: 100%;
}

body {
    background-size: contain;
    /*background: url('../images/background.jpg') center;*/
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

canvas {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
}

.bottom {
    text-align: center;
    bottom: 5px;
}

.body {
    padding-bottom: 70px;
}


