#content {
    color: white;
    text-align: center;
    text-shadow: 5px 0 5px black;
    padding-top: 20%;
    font-family: 'Noto Sans', sans-serif;
}

#game {
    display: none;
}

#switch {
    text-shadow: 5px 0 5px gray;
}

#dynamicHR {
    border-top: 1px solid;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#subHead {
    text-align: center;
    display: inline-block;
    *display: inline;
}